<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>{{newContact ? 'Add' : 'Edit'}} contact</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-3">
        <Contact v-if="ready" :contact="contact" :addNew="newContact" :edit="true"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Contact from "@/components/Contacts/Contact"
export default {
  name: 'Home',
  data: () => ({
    contact: {},
    newContact: false,
    ready: false
  }),
  components: {
    Contact
  },
  async mounted(){
    this.contact = await this.$store.dispatch('getById',this.$route.params.id)
    this.newContact = this.$route.params.id === 'new'
    this.ready = true
  },
  computed:{

  }
}
</script>
