<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Contacts</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-3">
        <Contacts :list="list"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Contacts from "@/components/Contacts/Contacts"
export default {
  name: 'Home',
  mounted(){
    this.list = this.$store.state.contact.contacts
  },
  components: {
    Contacts
  },
  computed: {
    list(){
      return this.$store.state.contact.contacts
    }
  }
}
</script>
