<template>
    <div>
        <div class="card mb-2 shadow" v-if="!edit && ready">
            <div class="card-body">
                <h5 class="card-title">{{form.name}}</h5>
                <div class="row">
                    <div class="col-4">
                        <p class="float-right">Phone:</p>
                    </div>
                    <div class="col-8">
                        <p class="float-left ml-0 pl-0">{{form.phone.join('; ')}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="float-right">Addr:</p>
                    </div>
                    <div class="col-8">
                        <p class="float-left ml-0 pl-0">{{form.addr.join('; ')}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="float-right">Email:</p>
                    </div>
                    <div class="col-8">
                        <p class="float-left ml-0 pl-0">{{form.email.join('; ')}}</p>
                    </div>
                </div>

                <router-link :to="{ name: 'Edit', params: { id: form.id }}"
                             class="btn btn-sm btn-warning float-right ml-1">Edit
                </router-link>
                <button class="btn btn-sm btn-danger float-right" @click.prevent="remove(form.id)">Del</button>
            </div>
        </div>

        <div class="card mb-2" v-if="edit && ready">
            <form ref="contactForm" id="form">
                <div class="card-body">
                    <h5 class="card-title"><input class="form-control" v-model="form.name"></h5>
                    <div class="row mb-0 mt-3">
                        <div class="col-4">
                            <p class="float-right">Phone:</p>
                        </div>
                        <div class="col-8">
                            <div class="form-group row mb-1" v-for="(l,i) in form.phone">
                                <div class="col-10  p-0 m-0">
                                    <input class="form-control mb-0" @change="change('phone',i,$event.target.value)"
                                           :value="l">
                                </div>
                                <div class="col-1  p-0 m-0">
                                    <button class="btn btn-danger btn-sm h-100" @click.prevent="del('phone',i)">Del
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-success btn-sm mt-0 mb-3" @click.prevent="add('phone')">+</button>
                        </div>
                    </div>

                    <div class="row mb-0 mt-3">
                        <div class="col-4">
                            <p class="float-right">Address:</p>
                        </div>
                        <div class="col-8">
                            <div class="form-group row mb-1" v-for="(l,i) in form.addr">
                                <div class="col-10  p-0 m-0">
                                    <input class="form-control" @change="change('addr',i,$event.target.value)"
                                           :value="l">
                                </div>
                                <div class="col-1  p-0 m-0">
                                    <button class="btn btn-danger btn-sm h-100" @click.prevent="del('addr',i)">Del
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-success btn-sm" @click.prevent="add('addr')">+</button>
                        </div>
                    </div>

                    <div class="row mb-0 mt-3">
                        <div class="col-4">
                            <p class="float-right">Email:</p>
                        </div>
                        <div class="col-8">
                            <div class="form-group row mb-1" v-for="(l,i) in form.email">
                                <div class="col-10 p-0 m-0">
                                    <input class="form-control" @change="change('email',i,$event.target.value)"
                                           :value="l">
                                </div>
                                <div class="col-1  p-0 m-0">
                                    <button class="btn btn-danger btn-sm h-100" @click.prevent="del('email',i)">Del
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-success btn-sm" @click.prevent="add('email')">+</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button @click="$router.go(-1)" type="button" class="btn btn-danger m-1">Cancel</button>
                            <button @click="save" type="button" class="btn btn-success m-1">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Contact',
        props: ['contact', 'edit','addNew'],
        data: () => ({
            form: {
                id: '',
                name: '',
                phone: [''],
                addr: [''],
                email: [''],
            },
            ready: false
        }),
        mounted() {
            if (this.$props.addNew) {
                this.form.id = new Date().getTime()
            } else {
                this.form = {...this.$props.contact}
            }
            this.ready = true
        },
        methods: {
            save() {
                if (this.$props.addNew) {
                    const el = this.$store.state.contact.contacts.find(el => el.name === this.form.name)
                    if(el){
                        alert('Contact with this name already exists, please enter other name.')
                        return
                    }
                    this.$store.commit('addContact', this.form)
                } else {
                    this.$store.commit('updateContact', this.form)
                }
                this.$router.push("/")
            },
            add(key) {
                this.$set(this.form[key], this.form[key].length, '')
            },
            change(key, i, val) {
                if(this.form[key].find(el => el === val) > -1){
                    alert(`Duplicate value for ${key}. Please  edit value`)
                    event.target.select()
                }else{
                    this.$set(this.form[key], i, val)
                }
            },
            del(key, index) {
                if (this.form[key].length < 2) {
                    this.add(key)
                }
                this.form[key].splice(index, 1)
            },
            remove(id) {
                if(confirm('Do you want to remove contact?')){
                    this.$emit('onRemove',id)
                }
            }
        }
    }
</script>