<template>
    <div>
        <div class="form-group row mb-2" v-if="$props.list.length>0">
            <div class="col-11 m-0 pr-1">
                <input class="form-control" placeholder="Input name to search..." v-model="searchText"/>
            </div>
            <div class="col-1 m-0 pl-0">
                <router-link data-toggle="tooltip" title="Add new" :to="{name:'Edit', params: {id: 'new'}}" class="btn btn-primary">+</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div v-if="$props.list.length<1">
                    <p>Your contact list is epmty. Add your first contact</p>
                    <router-link :to="{name:'Edit', params: {id: 'new'}}" class="btn btn-primary">Add contact</router-link>
                </div>
                <Contact v-for="l in filteredList" @onRemove="removeFromList" :key="l.id" :contact="l"/>
            </div>
        </div>
    </div>
</template>
<script>
    import Contact from '@/components/Contacts/Contact'

    export default {
        name: 'Contacts',
        data: () => ({
            searchText: ''
        }),
        props: ['list'],
        components: {
            Contact
        },
        methods: {
            removeFromList(id){
                this.$store.commit('removeContact', id)
                this.list = this.list.filter(el => el.id != id)
            }
        },
        computed: {
            filteredList() {
                return this.$props.list.filter(el => el.name.toLowerCase().indexOf(this.searchText.toLowerCase()) > -1)
            }
        }
    }
</script>